[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
stripe = "*"
dj-stripe = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.8"
